<div class="container">
  <div class="row">
  <div class="col-xs-12 col-md-10 col-md-offset-1">
    <div class="alert alert-warning">
          <div class=""><h2>Error login! <%= user %></h2>
          </div>
          <br>
          <h4 class="">You cannot access to platform.</h4>
            <p>You need to be a member of the <b>Slack Ironhack Team</b></p>
          <p><a href="/auth/login" class="btn btn-primary">Login again</a></p>
        </div>
      </div>
  </div>
</div>
